td {
  text-align: center;
}

.Offre_table {
  background-color: #f3f1ff;
  border-radius: 10px;
  box-shadow: 0 4px 8px #0005;
  width: 700px;
  height: 300px;
  margin-top: 2%;
}
.offre_row {
  padding-left: 10px;
}
.offre_th {
  text-align: center;
  background-color: #d5cefb;
}
.Offre_table tr:nth-child(odd) {
  background-color: #e2ddfe; /* Couleur de fond pour les lignes impaires */
}

/* Style pour les lignes paires */
.Offre_table tr:nth-child(even) {
  background-color: #f0edff; /* Couleur de fond pour les lignes paires */
}

.topbar {
  display: flex;
  flex-direction: row;
}

.left-side {
  visibility: hidden;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-left: 1%;
  margin-right: 1%;
}

.topbar {
  margin-top: 1%;
}

.link-wrapper {
  width: 10%;
}

.button-home {
  text-align: center;
  height: 100%;
  width: 120wh;
}

.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 3%;
}

.right-side {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  margin-left: 2%;
  margin-right: 2%;
  margin-left: 2%;
}

.button {
  font-size: small;
  text-wrap: nowrap;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 120%;
  background: linear-gradient(125deg, #9181f4, #5038ed);
  border-radius: 10px;
}

.title-search {
  margin-top: -4%;
  color: white;
  text-align: left;
}

.main-page {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-top: 3%;
}

.header-left-side {
  display: flex;
  flex-direction: column;
}

.left-side-main {
  width: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.right-side-main {
  margin-left: 3%;
  justify-content: center;
  display: flex;
  width: 40%;
}

.right-side-filters {
  margin-top: 10%;
  margin-left: 10%;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  background: linear-gradient(125deg, #9181f4, #5038ed);
  border-radius: 10px;
  padding: 5%;
}

.search-input {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 3%;
  background-color: #d6d0f9;
  width: 100wh;
  padding: 1%;
  border-radius: 10px;
  border: 0;
}
.filter-input {
  margin-left: 1%;
  margin-left: 1%;
  background-color: #f0edff;
  width: 100wh;
  padding: 2%;
  border-radius: 10px;
  border: 0;
}

.search-input-leftside {
  margin-top: 2%;
  background-color: F0EDFF;
  width: 200wh;
  padding: 2%;
  border-radius: 10px;
  border: 0;
}

.img-topbar {
  width: 30px;
  height: 30px;
  padding: 3%;
}

.main-form-wrapper-buttons {
  width: 200wh;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-form-wrapper-buttons > input {
  color: lightslategray;
  margin: 3%;
  padding: 2%;
  border: 0;
  border-radius: 10px;
}
