<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../styles/account.css" /> 
        <title>Visualisation des offres </title>
    </head>
    <body>
        <div class="topbar">
            <div class="left-side">

                <a class="link-wrapper link" href="http://localhost/home" >
                    <div class="button button-home">
                        <img class="img-topbar"  src="../assets/home.png">
                        <p>Home</p>
                    </div>
                </a>
            
            </div>
            <div class="right-side">
                <a class="link" href="http://localhost/candidature">
                    <div class="button button-candidat">
                        <img class="img-topbar" src="../assets/candidatures.png">
                        <p>Mes candidatures</p>
                    </div>
                </a>
                <a class="link" href="http://localhost/candidature">
                    <div class="button account">
                        <img class="img-topbar" src="../assets/account.png">
                        <p>Mon compte</p>
                    </div>
                </a>
                
            </div>
        </div>
        <div class="title-mid-page">
            <h1>Demande de droit</h1>
            <h3>Devenez administrateur ou recruteur ! </h3>
        </div>
        <div class="main-page">
            <div class="left-side-main">

                <div>
                    <input class="button-top-column" value="Devenir Administrateur" type="button">
                </div>

                <div class="card-admin">
                    <textarea class="input-card-admin-text"  placeholder="Argumentaire..."></textarea>
                    <input class="input-card-admin-submit" type="button" value="Envoyer">
                </div>

            </div>
            <div class="middle-side-main">
                <div>
                    <input class="button-top-column" value="Ajouter une oragnisation" type="button">
                </div>
                <div class="card-admin">
                    <input class="input-card-admin-name" type="text" placeholder="Entreprise..">
                    <input class="input-card-admin-name" type="number" placeholder="Siret..">
                    <input class="input-card-admin-name" type="text" placeholder="Adresse..">
                    <select class="input-card-admin-name" name="Type" id="type">
                        <option value="" disabled selected hidden>Type d'oragnisation...</option>
                    </select>                    
                    <textarea class="input-card-admin-text"  placeholder="Argumentaire..."></textarea>
                    <input class="input-card-admin-submit" type="button" value="Envoyer">
                </div>

            </div>
            <div class="right-side-main">
                <div>
                    <input class="button-top-column" value="Devenir Recruteur" type="button">
                </div>
                <div class="card-admin">
                    <input class="input-card-admin-name" type="text" placeholder="Entreprise..">
                    <textarea class="input-card-admin-text"  placeholder="Argumentaire..."></textarea>
                    <input class="input-card-admin-submit" type="button" value="Envoyer">
                </div>

            </div>
        </div>
        

    </body>
</html>
