<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../styles/apply_modif.css" /> 
        <title>Visualisation des offres </title>
    </head>
    <body>
        <div class="topbar">
            <div class="left-side">

                <a class="link-wrapper link" href="offre.html" >
                    <div class="button button-home">
                        <img class="img-topbar"  src="../assets/home.png">
                        <p>Home</p>
                    </div>
                </a>
            
            </div>
            <div class="right-side">
                <a class="link" href="candidatures.html">
                    <div class="button button-candidat">
                        <img class="img-topbar" src="../assets/candidatures.png">
                        <p>Mes candidatures</p>
                    </div>
                </a>
                <a class="link" href="account_candidat.html">
                    <div class="button account">
                        <img class="img-topbar" src="../assets/account.png">
                        <p>Mon compte</p>
                    </div>
                </a>
                
            </div>
        </div>
            
         
            <div>
                <h1>Candidater</h1>
                <h3>Modifier les informations</h3>
                <div class="form-wrapper">
                    <form>
                        <div class="form-group">    
                            <label for="cv">CV</label>
                            <input type="file" class="form-input-file" id="cv" placeholder="CV">
                        </div>
                        <div class="form-group">
                            <label for="lettre-motiv">Lettre de motivation</label>
                            <input type="file" class="form-input-file" id="lettre-motiv" placeholder="Lettre de motivation">
                        </div>
                        <div class="form-group">
                            <label for="other">Pièces complémentaires</label>
                            <input type="file" class="form-input-file" id="other" placeholder="Pièces complémentaires">
                        </div>      
                        <div class="form-group">
                        </div>
                        <button class="submit-button" type="submit" >Valider</button>
                    </form>
                </div>
                <br>
            </div>
        </body>
    </body>
</html>