<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Recr'UT</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="../styles/login.css" rel="stylesheet" type="text/css" />
  </head>

<body>   
    <div class="container">
        <div class="columng">
            <br><br><br>
            <h1>Connexion</h1>
            <h3>Se connecter pour acceder au site</h3>
            <br>
            <div class="form-wrapper">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" placeholder="Mot de passe" >
                    </div>
                    <br>
                    <div class="form-group">
                    <input type="checkbox" name="Remember" class="checkbox"> 
                    <label for="Remember">&nbsp;Rester connecté</label>&nbsp;&nbsp;&nbsp;
                    <a href="">Mot de passe oublié</a>
                    </div>
                
                    <br>
                    <button type="submit" class="connexion">Connexion</button>
                </form>
            </div>
            <br>
            <p>Vous n'avez pas de compte ? <a href="">Créer un compte</a> </p>
        </div>
        <div class="columnd">
            <div class="zone"><div class="RecrUT">Recr'UT</div>
            <img src="../assets/AlexLeo.png" alt="Alex & Leo" />
            </div>
        </div>
    </div>
</body>