<html>
    <head>
        <title><%= title %></title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="/stylesheets/account_recruteur.css" rel="stylesheet" type="text/css" />
        <title><%= title %></title>
    </head>
    <body>
        <div class="topbar">
            <div class="left-side">

                <a class="link-wrapper link" href="/recruteur/home_recruteur" >
                    <div class="button button-home">
                        <img class="img-topbar"  src="/images/home.png">
                        <p>Home</p>
                    </div>
                </a>
            
            </div>
            <div class="right-side">
                <a class="link" href="/login/logout">
                    <div class="button account">
                        <img class="img-topbar" src="/images/logout.png">
                        <p>Se déconnecter</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="title-mid-page">
            <h1>Compte recruteur</h1>
            <h3>Gérez votre compte !</h3>
        </div>
        <div class="main-page">
            <div class="left-side-main">

                <div>
                    <input class="button-top-column" value="Devenir Administrateur" type="button">
                </div>

                <div class="card-admin">
                    <textarea class="input-card-admin-text"  placeholder="Argumentaire..."></textarea>
                    <input class="input-card-admin-submit" type="button" value="Envoyer">
                </div>

            </div>
            <div class="middle-side-main">
                <a href="/recruteur/visualisation_offre">
                    <div>
                        <input class="button-top-column" value="Demande d'ajout de recruteur" type="button">
                    </div>
                </a>

            </div>
            <div class="right-side-main">
                <a href="/recruteur/quit_org">
                    <div>
                        <input class="button-top-column" value="Quitter une organisation" type="button">
                    </div>
                </a>
            </div>
        </div>
        

    </body>
</html>
