<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="/stylesheets/quit_org.css" rel="stylesheet" type="text/css" />
</head>

<body>  
    <div class="topbar">
            <div class="left-side">
                <a class="link-wrapper link" href="/recruteur/home_recruteur" >
                    <div class="button button-home">
                        <img class="img-topbar"  src="/images/home.png">
                        <p>Home</p>
                    </div>
                </a>
            
            </div>
            <div class="right-side">
                <a class="link" href="/recruteur/account_recruteur">
                    <div class="button account">
                        <img class="img-topbar" src="/images/account.png">
                        <p>Mon compte</p>
                    </div>
                </a>
            </div>
        </div> 
    <div>
        <h1>Quittez une organisation</h1>
        <h3>Quelle organisation voulez-vous quitter ?</h3>
        <div class="form-wrapper">
            <form>
                <select class="input-card-admin-name" name="Type" id="type">
                    <option value="" disabled selected hidden>Nom de l'ogarnisation</option>
                    <% result.forEach((res)=> { %>

                    <option value="<%= res.id %>"><%= res.name %></option>

                    <% }) %>

                </select>   
                <div class="form-group validation-button">
                    <button type="submit">Quitter</button>

                </div>
            </form>
        </div>
        <br>
    </div>
</body>